<div class="container">
  <h1 class="title">Anatomical Structures Data</h1>

  @if (isLoading()) {
  <div class="progress-container">
    <mat-progress-bar mode="indeterminate" color="primary" class="loading-bar">
    </mat-progress-bar>
  </div>
  } @else {
  <div class="structures-grid">
    @for (structure of uniqueStructures(); track structure.id) {
    <div class="structure-card">
      <mat-card class="modern-card">
        <mat-card-content>
          <div class="structure-field">
            <span class="label">Name</span>
            <div
              class="field-value clickable"
              (click)="onStructureClick(structure)"
            >
              {{ structure.name }}
              <mat-icon class="click-icon">arrow_forward</mat-icon>
            </div>
          </div>
          <div class="structure-field">
            <span class="label">ID</span>
            <div class="field-value id-value">
              {{ structure.id ? structure.id : "Not Found" }}
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    }
  </div>
  }
</div>
