<div class="container">
  <h1 class="title">Anatomical Structures Data</h1>

  <div class="structures-grid">
    @for (structure of uniqueStructures; track structure.id) {
    <div class="structure-card">
      <mat-card>
        <mat-card-content>
          <div class="structure-field">
            <label>Name:</label>
            <div
              class="field-value clickable"
              (click)="onStructureClick(structure)"
            >
              {{ structure.name }}
              <mat-icon class="click-icon">arrow_forward</mat-icon>
            </div>
          </div>
          <div class="structure-field">
            <label>ID:</label>
            <div class="field-value">
              {{ structure.id ? structure.id : "Not Found" }}
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    }
  </div>
</div>
